/***   ІМПОРТ ШРИФТІВ   ***/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

:root {
  --bg-color: #FFFFFF;
  --text-color: #1A1A1A;
  --header-color: #F9F9F9;
  --primary-accent: #4CAF50;
  --primary-accent-hover: #6CCF70;
  --secondary-accent: #1976D2;
  --secondary-accent-hover: #3986F2;
  --card-bg: #FFFFFF;
  --border-color: #E0E0E0;
  --error-color: #F44336;
  --warning-color: #FF9800;
}

/* Темна тема */
body.dark-theme {
  --bg-color: #121212;
  --text-color: #E0E0E0;
  --header-color: #1E1E1E;
  --primary-accent: #81C784;
  --secondary-accent: #64B5F6;
  --card-bg: #1E1E1E;
  --border-color: #333333;
  --error-color: #EF5350;
  --warning-color: #FFA726;
}

html{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

header {
    width: 100%;
    background-color: var(--header-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

header h1{
    font-family: "Lexend Giga", serif;
    color: var(--primary-accent);
    font-style: normal;
    font-size: 2.5rem;
}

#calendarContainer {
    margin: 10px 0;
    text-align: center;
}

#boardControls {
    margin-top: 0.1rem;
    display: flex;
    gap: 1rem;
}

button {
    background-color: var(--secondary-accent);
    color: var(--bg-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-accent-hover);
}


.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: none;
    padding:  5px;
    box-sizing: content-box;
    border: none;
    cursor: pointer;
}

.burger:hover{
        background-color: rgba(0, 0, 0, 0);
    }

.burger-line {
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.theme-toggle-container{
    display: flex;
    justify-content: center;
    align-item: center;
    margin: 1rem 0;
}

.theme-toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 2rem;
}

.theme-toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c9c9c9;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider{
    background-color: #c9c9c9;
}

input:checked + .slider:before{
    transform: translateX(30px);
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
    width: 80%;
    margin: 0 10%;
}

.noCards{
    text-align: center;
    width: 100%;
}

.card {
    position: relative;
    background-color: var(--card-bg);
    border: 2px solid var(--border-color);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 16px;
    margin-top: 16px;
    display: grid;
    grid-template-column: 1;
    grid-auto-row: max-content;
    align-items: flex-start;
    transition: background-color 0.3s, color 0.1s;
}

.card h4 {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.delete-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--error-color);
    border: none;
    color: var(--bg-color);
    font-size: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-card:hover {
    background-color: var(--warning-color);
}

.goal {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-radius: 12px;
    border: 0.5px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
    padding: 12px;
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    transition: background-color 0.3s, color 0.1s;
}

.goal .complete-div{
    display: flex;
    justify-content: end;
    max-width: 250px;
}

.goal.completed {
    text-decoration: line-through;
    color: black;
    background-color: var(--primary-accent);
    opacity: 0.4;
    pointer-events: none; /* Забороняє взаємодію */
}

.goal span {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goal button {
    background-color: var(--primary-accent);
    color: var(--bg-color);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.goal button:first-child {
    margin-right: 0.4rem;
}

.goal button:hover {
    background-color: var(--primary-accent-hover);
}

button.add-goal {
    background-color: var(--secondary-accent);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 8px;
    align-self: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.add-goal:hover {
    background-color: var(--secondary-accent-hover);
}

/* Графік прогресу */
#progress-section {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

#progress-section h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    max-width: 100%;
}

/* Темна тема */
body.dark-theme{
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark-theme header{
    background-color: var(--header-color);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark-theme .card{
    background-color: var(--card-bg);
    color: var(--primary-text);
}

body.dark-theme .card .completed{
    background-color: var(--border-color);
    color: black;
}

body.dark-theme .goal{
    background-color: var(--card-bg);
    border-color: var(--border-color);
}

body.dark-theme button{
    background-color: var(--secondary-accent);
}

body.dark-theme button:hover{
    background-color: var(--secondary-accent-hover);
}

body.dark-theme .delete-card{
     background-color: var(--error-color);
     color: var(--text-color);
}

body.dark-theme .delete-card:hover{
     background-color: var(--warning-color);
}

/* Медіа запити */
@media (max-width: 600px){
    header{
        padding: 0 3rem;
    }
    header h1{
        margin: 1rem 0;
    }
    .goal{
        max-width: 100%;
    }
    .burger {
        display: flex;
        background-color: none;
    }
    body.dark-theme .burger{
        background-color: rgba(0, 0, 0, 0);
    }
    body.dark-theme .burger:hover{
        background-color: rgba(0, 0, 0, 0);
    }
    body.dark-them .burger.active{
        background-color: var(--error-color);
    }
    .nav{
        position: absolute;
        display: none;
        top: 80px;
        right: 0;
        width: 100%;
        height: calc(100% - 100px);
        padding: 100px 0;
        border: 2px solid var(--border-color);
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transition: opacity 0.3s ease, transform 0.3s ease;
        background-color: var(--bg-color);
        z-index: 10;
        opacity: 0;
    }

    .nav.open{
        transform: translateY(0);
        opacity: 1;
        display: flex;
    }

    .theme-toggle{
        margin-left: 0;
        margin-top: 30px;
    }

    .theme-toggle-container:before{
        content: "Dark mode";
        position: relative;
        top: 35px;
        left: -20px;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: bold;
    }

    .burger.active .burger-line:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .burger-line:nth-child(2){
        opacity: 0;
    }

    .burger.active .burger-line:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
.goal span {
    font-size: 1rem;
    font-weight: 500;
}

.goal:active {
    cursor: grabbing;
    opacity: 0.9;
}

